<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:include="fragments :: header"></div>
<div class="content">

  </table>
</div>
</body>
</html>


<!--@PostMapping("/create-meal")-->
<!--public String createMeal(AddMealRequest addMealRequest) {-->
<!--var meal = new Meal();-->
<!--meal.setCompound(addMealRequest.getCompound());-->
<!--meal.setName(addMealRequest.getName());-->
<!--meal.setPrice(addMealRequest.getPrice());-->

<!--mealService.save(meal);-->
<!--return "redirect:menu";-->
<!--}-->